body{	
	width: 100%; /* Esto fue para el Parallax*/
	font-family: 'Roboto', sans-serif;
}

*{
	margin: 0;  /* Esto fue para el parallax*/
	padding: 0;
	box-sizing: border-box;
}

.video-background video{
	width: 100%;
}

.video-back{
	position: relative;
	width: 100%;
	min-height: 70vh;
	background-color: rgba(0,0,0,0.9);
} 

.caption {
	position: absolute;
	top: 62%;
	width: 100%;
	color: white;
	padding: 10px;
	background-color: rgba(0,0,0,.3);
}

.caption h1 {
	font-size: 2rem;
}

/*Estilos de la barra de navegacion*/

#menu li:hover {
	/*background-color: #29A5DE;*/  
	box-shadow: 4px 4px 1px rgba(167, 117, 10, 0.6);
	transition: all .2s;
}

#menu ul li .dropdown-menu .dropdown-item:hover {    /*Es el color y sombra de los submenus*/
	background-color: #f0e117;
	box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
	transition: all .3s;
	/*text-decoration: underline;*/
}

.content-center {
	max-width: 800px;
	margin: 0 auto 30px auto;
	text-align: justify all;
}

.requisitos {
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
	margin-top: 40px; 
}

.listas li {
	color: #000000;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	letter-spacing: 0.5px;
	text-align: justify;
	margin-left: 150px;
	margin-right: 20px;
}

.listas li:not(:last-child) {
	margin-bottom: 55px; 
}

.listas li i{
	margin-right: 20px;
	float: left;
	font-size: 55px;
	
}


/*Estilos parallax */

.parallax-titulacion {
	width: 100%;
	height: 60vh;
	background-image: url(img/parallax/protesta.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.highlight-dark { /*Para ponerle sobra a la letras en color trasparente*/
	background-color: rgba(0,0,0,.5);
	padding: 20px;
	display: inline-block;
	color: #fff;
}

/*Estilos Registros */

.content-registro {
	max-width: 800px;
	margin: 0 auto 30px auto;
	text-align: justify all;
}

.listas-registro li {
	color: #000000;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	/*list-style: none;*/
	letter-spacing: 0.5px;
	text-align: justify;
	margin-left: 35px;
	margin-right: 20px;
	margin-top: 20px;

}

.listas-registro .lista-posicion li {
	margin-top: 20px;
	margin-bottom: 25px; 
	margin-left: 70px;
}

/*.listas-registro .lista-posicion li:not(:last-child) {
	margin-bottom: 25px; 
	margin-left: 40px;
} 



/*Estilos de redes sociales de abajo */
:root{
	--facebook: #3b5999;
	--instagram: #e4405f;
	--twitter: #55acee;
}

.redes-container {
	display: flex;
	height: 13vh;
	align-items: center;
	justify-content: center;
	
}



.redes-container ul li{
	display: inline-block;
	margin: 0 5px;
	width: 50px;
	height: 50px;
	text-align: center;
}

.redes-container ul li a {
	display: block;
	padding: 0 10px;
	background: #333;
	color: #fff;
	line-height: 50px;
	font-size: 18px;
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
	transition: .2s;
}

.redes-container ul:hover a{
	filter: blur(2px);
}

.redes-container ul li a:hover{
	transform: translateY(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
	filter: none;
}

.redes-container ul li .facebook:hover{
	background: var(--facebook);
}
.redes-container ul li .instagram:hover{
	background: var(--instagram);
}
.redes-container ul li .twitter:hover{
	background: var(--twitter);
}

.copyright {
    font-size: 14px;
    color: #fff;
    margin: 0;   
    font-weight: 300;
    float: left;
}
.copyright a{
    color: #fff;
}
.copyright a:hover {
    text-decoration: underline;
    color: #36CBD4;
}

.reservados {
	margin-bottom: 0em; 
}

.last-div {
	margin-top:10px;
    background: #3e5f8a;
    padding: 10px 0;
    position: relative;
}

/* Estilos de imagen de Contacto */

.container {
	/*width: 1200px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.container .box {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 40px; 
}

.container .box .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	transition: 0.5s ease-in-out;
	z-index: 2;
}

.container .box:hover .imgBx {
	transform: translate(-50px, -50px); 
}


.container .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .box .content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ccc;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 15px;
	transition: 0.5s ease-in-out;
}

.container .box:hover .content {
	transform: translate(50px, 50px); 
}

.container .box .content h2 {
	font-size: 20px;
	color: #111;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 1px;
	text-align: center; 
}

.container .box .content h2 span {
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 10px;
}



/*video {
	position: relative;
	width: 100%;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-75%);
}*/

@media (max-width: 768px) {
	.container .box:hover .content {
	transform: translate(0px, 50px); 
}
   .container .box:hover .imgBx {
	transform: translate(0px, -50px); 
}
.caption {
	position: absolute;
	top: 20%;
	width: 100%;
	color: white;
}
.listas li {
	margin-left: 20px;

}
}